venv
prototypes/venv
prototypes/.ipynb_checkpoints
prototypes/references
prototypes/gisaid
prototypes/ena
*.backup
build
dist
.idea
covigator.egg-info
.env
*.fastq.gz
*.sqlite
*.lock
logs
.ipynb_checkpoints
data
.nextflow.log*
.nextflow

